<a href="https://colab.research.google.com/github/Sadiya0210/ML-file7/blob/main/Loan_approval.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#from re import split
#supervised - output already there , data is labeled
#nsupervised - data is not labeled , no output , useful for hidden patterns
#<classification - it is categorical, like true or false
#regression - it is continuous, like price

#rows - observations / samples
#columns -variables / attributes

##feature (x) - input columns like age, salary
#target(y) - output variable , like loan status

#rules:
#ml learns pattern from x
#with that ml predicts y

#machine laerning flow:
#EDA- Explorratory data  analysis - understand the data
#problem / model framing - defining target variable and choosing type
#feature understanding - numerical Vs categorical, removing unnecessary columns
##feature - target separation
#train test split
#processing
#modeling

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving loan_approval_dataset.csv to loan_approval_dataset.csv

In [ ]:
import numpy as np
import pandas as pd

df = pd.read_csv('loan_approval_dataset.csv')

In [ ]:
df.head()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected

In [ ]:
df.tail()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
4264,4265,5,Graduate,Yes,1000000,2300000,12,317,2800000,500000,3300000,800000,Rejected
4265,4266,0,Not Graduate,Yes,3300000,11300000,20,559,4200000,2900000,11000000,1900000,Approved
4266,4267,2,Not Graduate,No,6500000,23900000,18,457,1200000,12400000,18100000,7300000,Rejected
4267,4268,1,Not Graduate,No,4100000,12800000,8,780,8200000,700000,14100000,5800000,Approved
4268,4269,1,Graduate,No,9200000,29700000,10,607,17800000,11800000,35700000,12000000,Approved

In [ ]:
df.size

55497

In [ ]:
df.describe()

,loan_id,no_of_dependents,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value
count,4269.000000,4269.000000,4.269000e+03,4.269000e+03,4269.000000,4269.000000,4.269000e+03,4.269000e+03,4.269000e+03,4.269000e+03
mean,2135.000000,2.498712,5.059124e+06,1.513345e+07,10.900445,599.936051,7.472617e+06,4.973155e+06,1.512631e+07,4.976692e+06
std,1232.498479,1.695910,2.806840e+06,9.043363e+06,5.709187,172.430401,6.503637e+06,4.388966e+06,9.103754e+06,3.250185e+06
min,1.000000,0.000000,2.000000e+05,3.000000e+05,2.000000,300.000000,-1.000000e+05,0.000000e+00,3.000000e+05,0.000000e+00
25%,1068.000000,1.000000,2.700000e+06,7.700000e+06,6.000000,453.000000,2.200000e+06,1.300000e+06,7.500000e+06,2.300000e+06
50%,2135.000000,3.000000,5.100000e+06,1.450000e+07,10.000000,600.000000,5.600000e+06,3.700000e+06,1.460000e+07,4.600000e+06
75%,3202.000000,4.000000,7.500000e+06,2.150000e+07,16.000000,748.000000,1.130000e+07,7.600000e+06,2.170000e+07,7.100000e+06
max,4269.000000,5.000000,9.900000e+06,3.950000e+07,20.000000,900.000000,2.910000e+07,1.940000e+07,3.920000e+07,1.470000e+07

In [ ]:
df.isnull().sum()

loan_id                      0
 no_of_dependents            0
 education                   0
 self_employed               0
 income_annum                0
 loan_amount                 0
 loan_term                   0
 cibil_score                 0
 residential_assets_value    0
 commercial_assets_value     0
 luxury_assets_value         0
 bank_asset_value            0
 loan_status                 0
dtype: int64

In [ ]:
df.columns = df.columns.str.strip()

In [ ]:
x=df.drop('loan_status',axis=1)
y=df['loan_status']
print(x.columns)
#in this
#y is what we want to predict
#xis the data after we remove the target to avoid data leakage

Index(['loan_id', 'no_of_dependents', 'education', 'self_employed',
       'income_annum', 'loan_amount', 'loan_term', 'cibil_score',
       'residential_assets_value', 'commercial_assets_value',
       'luxury_assets_value', 'bank_asset_value'],
      dtype='object')

In [ ]:
# checking the missing value
df.isnull().sum()

loan_id                     0
no_of_dependents            0
education                   0
self_employed               0
income_annum                0
loan_amount                 0
loan_term                   0
cibil_score                 0
residential_assets_value    0
commercial_assets_value     0
luxury_assets_value         0
bank_asset_value            0
loan_status                 0
dtype: int64

In [ ]:
#train and test split
from sklearn.model_selection import train_test_split
#scikit -learn,it is one of the most popular python libraries for ML
#train and test split is used  to avoid the data leakage

x_train,x_test,y_train,y_test=train_test_split(
    x,y,
    test_size=0.2,
    random_state=42,
    stratify=y
)
# x_train - input data from training
# y_train - inpu data from tarining
# y_tarin- correct answer for tarining
# x_test - correct answer for tarining

# x_train + y_train - model learnes
# x_test+ y_test - model is evaluated

In [ ]:
x_train.shape

(3415, 12)

In [ ]:
x_test.shape

(854, 12)

In [ ]:
y_train.value_counts()

loan_status
Approved    2125
Rejected    1290
Name: count, dtype: int64

In [ ]:
y_test.value_counts()

loan_status
Approved    531
Rejected    323
Name: count, dtype: int64

In [ ]:
y_train.value_counts(normalize=True)

loan_status
Approved    0.622255
Rejected    0.377745
Name: proportion, dtype: float64

In [ ]:
#the topics we did are:
#model framing
#targed identified
#feature- target separation
#missing values check_arraytrain test split using random state and startify
#verified the split:
#x train shape,  x test np.shape
#y train value y test value

In [ ]:
x_train.head()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value
1224,1225,0,Graduate,Yes,9800000,23900000,14,459,1000000,13400000,21100000,7200000
478,479,3,Not Graduate,Yes,3600000,8600000,8,790,5400000,5900000,9800000,5200000
3065,3066,2,Not Graduate,No,2000000,4000000,14,502,4900000,1500000,5400000,1300000
326,327,2,Not Graduate,Yes,3900000,11300000,12,516,3100000,0,10400000,4600000
2991,2992,3,Not Graduate,No,2300000,8500000,12,557,3600000,1400000,6200000,1300000

In [ ]:
x_train = x_train.drop('loan_id',axis=1)
x_test = x_test.drop('loan_id',axis=1)
# loan id is just an identifier which has no meaning, if we np.kaiser
# removing unnecessary columns from thr mode tarin and test

KeyError: "['loan_id'] not found in axis"

In [ ]:
x_train.dtypes

loan_id                      int64
no_of_dependents             int64
education                   object
self_employed               object
income_annum                 int64
loan_amount                  int64
loan_term                    int64
cibil_score                  int64
residential_assets_value     int64
commercial_assets_value      int64
luxury_assets_value          int64
bank_asset_value             int64
dtype: object

In [ ]:
 #encoding the model x train and x test
# one hot encode categorical features

from sklearn.#preprocessing import OneHotEncoder

categorical_cols = ["education","self_employed"]
ohe = OneHotEncoder(drop='first',sparse_output=False)
x_train_cat = ohe. fit_transform(x_train[categorical_cols])
x_test_cat = ohe.transform(x_test[categorical_cols])

# the drop is to remove the redundant columns to avoid dummy variable trap
# sparse in default would store them as a numpy array,
# if false ill give the encoded data as a normal table of
#numbers instead compressing it

In [ ]:
 x_train_cat.shape

(3415, 2)

In [ ]:
np.unique(x_train_cat)

array([0., 1.])

In [ ]:
np.unique(x_test_cat)

array([0., 1.])

In [ ]:
ohe.get_feature_names_out(categorical_cols)

array(['education_ Not Graduate', 'self_employed_ Yes'], dtype=object)

In [ ]:
ohe.categories_

[array([' Graduate', ' Not Graduate'], dtype=object),
 array([' No', ' Yes'], dtype=object)]

In [ ]:
 # Scaling numeric features:data preprocessing technique used to standardize or normalize the range of independent variables or features in a dataset.
# encoding: refers to the process of converting data from one format to another,converting data into numerical into binary
# StandardScaler from scikit-learn is a preprocessing class that implements standardization. Standarlization (also known as Z-score normalization)
# transforms data such that it has a mean of 0 and a standard deviation of 1.
# Standard deviaion: Standard deviation is a fundamental statistical measure that quantifies the amount of variation or dispersion of a set of data values.
from sklearn.preprocessing import StandardScaler

numeric_cols=x_train.drop(columns=categorical_cols).columns
scaler=StandardScaler()
x_train_num=scaler.fit_transform(x_train[numeric_cols])
x_test_num=scaler.transform(x_test[numeric_cols])

In [ ]:
 x_train_num_df=pd.DataFrame(
    x_train_num,
    columns=numeric_cols,
    index=x_train.index
)
x_train_num_df.head()

,no_of_dependents,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value
1224,-1.456965,1.700955,0.983585,0.549181,-0.806352,-0.995573,1.942808,0.659076,0.696034
478,0.305326,-0.514765,-0.717129,-0.500709,1.110842,-0.312884,0.216625,-0.582560,0.078226
3065,-0.282104,-1.086564,-1.228455,0.549181,-0.557291,-0.390463,-0.796070,-1.066029,-1.126500
326,-0.282104,-0.407553,-0.417003,0.199218,-0.476201,-0.669744,-1.141306,-0.516632,-0.107117
2991,0.305326,-0.979352,-0.728245,0.199218,-0.238724,-0.592166,-0.819085,-0.978125,-1.126500

In [ ]:
x_train_num_df.min(), x_train_num_df.max()

(no_of_dependents           -1.456965
 income_annum               -1.729838
 loan_amount                -1.639738
 loan_term                  -1.550599
 cibil_score                -1.727300
 residential_assets_value   -1.166245
 commercial_assets_value    -1.141306
 luxury_assets_value        -1.626413
 bank_asset_value           -1.528075
 dtype: float64,
 no_of_dependents            1.480187
 income_annum                1.736692
 loan_amount                 2.717647
 loan_term                   1.599072
 cibil_score                 1.747975
 residential_assets_value    3.302260
 commercial_assets_value     3.323755
 luxury_assets_value         2.647892
 bank_asset_value            3.012814
 dtype: float64)